<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Almundo - Call Center</title>
</h:head>
<body>
	<h1>Call Center</h1>

	<p:dataTable var="employee"
		value="#{listEmployees}">
		<p:column headerText="Name">
			<h:outputText value="#{employee.getEmployeeList}" />
		</p:column>

		<p:column headerText="Type">
			<h:outputText value="#{employee.type_employee}" />
		</p:column>

		<p:column headerText="Disponible">
			<h:outputText value="#{employee.available}" />
		</p:column>
	</p:dataTable> 

	<h:form>

		<p:panel id="panel" header="New Call" style="margin-bottom:10px;">
			<p:messages id="messages" />
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Name:" />
				<p:commandButton action="#{call.makeCall()}"
			value="Call"></p:commandButton>

			</h:panelGrid>
		</p:panel>
		
	</h:form>
</body>
</html>
